/**
 * animation-name: EXPERIENCELoad; animation-delay: 500ms; animation-duration:
 * 500ms; animation-timing-function: ease-in-out; animation-fill-mode: none ;
 *
 * @keyframes EXPERIENCELoad { 0% { background-image: transparent;
 * -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
 *
 * 25% { background-color: blue; -webkit-transform: scale(1); -ms-transform:
 * scale(1); transform: scale(1); }
 *
 * 50% { background-image: green; box-shadow: 1px 1px 8px -6px black;
 * border-radius: 10px; -webkit-text-fill-color: white; -webkit-transform:
 * scale(1.10); -ms-transform: scale(1.10); transform: scale(1.10);
 * -webkit-animation-timing-function } 75% { background-color: red;
 * -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
 * 100% { background-image: transparent; -webkit-transform: scale(1);
 * -ms-transform: scale(1); transform: scale(1); } }
 */

#nav {
  text-align : center;
}

#nav ul li {
  display : inline-block;
}

#nav a {
  text-decoration : none;
}

.heroColor {
  text-align     : center;
  font-synthesis : none;
}

html {
  height : 100%;
}

.NoDeco {
  text-decoration : none;
}

/* NAV BAR STYLES */

.EXPERIENCE {
  /* Style */
  position           : relative;
  width              : auto;
  height             : auto;
  padding            : 0px 8px;
  color              : rgb(100, 100, 100);
  box-shadow         : -1px -1px 8px -6px transparent;
  font-family        : 'Archivo',
                       sans-serif;
  font-size          : 32px;
  font-style         : italic;
  font-weight        : 700;
  line-height        : 64px;
  -webkit-transition : all ease .3s;
  transition         : all ease .3s;
  /* Animations */
  /* webkit */
  /* Possition and Margins */
  /* Backgrounds */
}

.EXPERIENCE:hover {
  /* Style */
  background-color : #21e8a7;
  box-shadow       : 1px 1px 8px -6px black;
  /* webkit */
}

.PROCESS {
  /* Style */
  position           : relative;
  width              : auto;
  height             : auto;
  padding            : 0px 8px;
  color              : rgb(100, 100, 100);
  box-shadow         : -1px -1px 8px -6px transparent;
  font-family        : 'Archivo',
                       sans-serif;
  font-size          : 32px;
  font-style         : italic;
  font-weight        : 700;
  line-height        : 64px;
  -webkit-transition : all ease .3s;
  transition         : all ease .3s;
  /* Animations */
  /* webkit */
  /* Possition and Margins */
  /* Backgrounds */
}

.PROCESS:hover {
  /* Style */
  background-color : #17d3be;
  box-shadow       : 1px 1px 8px -6px black;
  /* webkit */
}

.CONTACT {
  /* Style */
  position           : relative;
  width              : auto;
  height             : auto;
  padding            : 0px 8px;
  color              : rgb(100, 100, 100);
  box-shadow         : -1px -1px 8px -6px transparent;
  font-family        : 'Archivo',
                       sans-serif;
  font-size          : 32px;
  font-style         : italic;
  font-weight        : 700;
  line-height        : 64px;
  -webkit-transition : all ease .3s;
  transition         : all ease .3s;
  /* Animations */
  /* webkit */
  /* Possition and Margins */
  /* Backgrounds */
}

.CONTACT:hover {
  /* Style */
  background-color : #16c9ca;
  box-shadow       : 1px 1px 8px -6px black;
  /* webkit */
}

.JASON {
  /* Style */
  position           : relative;
  width              : auto;
  height             : auto;
  padding            : 8px 10px;
  border-radius      : 10px;
  background-image   : linear-gradient(
                         45deg,
                         #fa709a 0%,
                         #fee140 100%
                       );
  box-shadow         : 1px 1px 8px -6px black;
  font-family        : 'Archivo',
                       sans-serif;
  font-size          : 32px;
  font-weight        : 700;
  line-height        : 64px;
  -webkit-transition : all ease .3s;
  transition         : all ease .3s;
  /* Animations */
  /* webkit */
  /* Possition and Margins */
  /* webkit */
}

.PopUp {
  /* Animations */
  position           : relative;
  width              : auto;
  height             : auto;
  padding            : 8px 10px;
  border-radius      : 1px;
  box-shadow         : -1px -1px 8px -6px transparent;
  line-height        : auto;
  -webkit-transition : all ease .3s;
  transition         : all ease .3s;
  /* webkit */
  /* Possition and Margins */
  /* Backgrounds */
}

.PopUp:hover {
  /* Style */
  border-radius : 10px;
  box-shadow    : 1px 1px 8px -6px black;
  /* webkit */
}

.PpH {
  color       : rgb(128, 128, 128);
  font-family : 'Archivo',
                sans-serif;
  font-size   : 32px;
  font-style  : italic;
  font-weight : 700;
}

.Ppp {
  /* Process pop Paragraph */
  color       : rgb(128, 128, 128);
  font-family : 'Roboto',
                sans-serif;
  font-size   : 16px;
  font-weight : 500;
}

.Ppp:hover {
  /* Process pop Paragraph */
  color : white;
}

.PppNH {
  /* Process pop Paragraph */
  color       : rgb(128, 128, 128);
  font-family : 'Roboto',
                sans-serif;
  font-size   : 16px;
  font-weight : 500;
}

.PpGC:hover {
  /* Process pop Gradient Color */
  background-image : linear-gradient(
                       135deg,
                       #FEB692 10%,
                       #EA5455 100%
                     );
}

.ProcessSubHeading {
  font-synthesis : none;
}

.ProcessBody {
  color       : rgb(90, 90, 90);
  font-family : 'Roboto',
                sans-serif;
  font-size   : 16px;
  font-weight : 500;
}

.Copy {
  color : rgb(200, 200, 200);
}

.RoundShadow {
  border-radius : 20px;
  box-shadow    : 4px 4px 16px -8px black;
}

.SlightRoundShadow {
  border-radius : 10px;
  box-shadow    : 4px 4px 8px -8px black;
}

.Shadow {
  box-shadow : 1px 1px 32px -40px transparent;
}

.ExpSubHeading {
  text-align     : center;
  font-synthesis : none;
}

.ExpSubHeadingBIG {
  text-align     : center;
  font-synthesis : none;
}

.ExpBody {
  color       : rgb(90, 90, 90);
  text-align  : center;
  text-align  : justify;
  font-family : 'Roboto',
                sans-serif;
  font-size   : 16px;
  font-weight : 500;
}

.ExpBodyLeft {
  color       : rgb(90, 90, 90);
  text-align  : left;
  font-family : 'Roboto',
                sans-serif;
  font-size   : 16px;
  font-weight : 500;
}

.ExpBodyLeftBig {
  color       : rgb(90, 90, 90);
  text-align  : left;
  font-family : 'Roboto',
                sans-serif;
  font-size   : 20px;
  font-weight : 500;
}

.ExpBodySmall {
  color       : rgb(90, 90, 90);
  font-family : 'Roboto',
                sans-serif;
  font-size   : 10px;
  font-style  : italic;
  font-weight : 500;
}

.Logo {
  display    : inline;
  max-height : 72px;
  margin     : 0 0 50px 0;
}

.WorkThumb {
  /* Animations */
  -webkit-transition : all ease .3s;
  transition         : all ease .3s;
  /* webkit */
}

.WorkThumb:hover {
  /* Style */
  border-radius     : 0px;
  box-shadow        : 1px 2px 16px -8px black;
  -ms-transform     : scale(1.01);
  -webkit-transform : scale(1.01);
  transform         : scale(1.01);
  /* webkit */
}

.WorkThumbHead {
  text-decoration : none;
}

.WorkThumParagraph {
  text-decoration : none;
  /* Process pop Paragraph */
}

.WorkThumbHack {
  /* Process pop Gradient Color */
  box-shadow : 1px 1px 8px -8px transparent;
}

.WorkThumbHack:hover {
  /* Process pop Gradient Color */
  box-shadow : 1px 1px 12px -8px black;
}

.Center {
  display : inline-block;
}

.ExpSubHeading2 {
  text-align     : center;
  font-synthesis : none;
}
