.small {
  font-size: calc(8px + 0.8vw);
}

.smallerMedium {
  font-size: calc(8px + 1.2vw);
}

.medium {
  font-size: calc(8px + 2vw);
}

.large {
  font-size: calc(24px + 2.5vw);
}

.rubiktitle {
  height: auto;
  margin-top: 80px;
  text-align: left;
  font-family: "Rubik";
  font-weight: 700;
}

.rubiksub {
  height: auto;
  margin-top: auto;
  text-align: left;
  font-family: "Rubik";
  font-weight: 800;
}

.rubikSubLinked {
  height: auto;
  margin-top: auto;
  text-align: left;
  font-family: "Rubik";
  font-weight: 800;
}

.poppinsBody {
  height: auto;
  margin-top: auto;
  text-align: left;
  font-family: "Poppins", Regular;
  font-weight: 500;
}

.SpaceBody {
  height: auto;
  margin-top: auto;
  text-align: left;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

.SpaceLink {
  height: auto;
  margin-top: auto;
  text-align: left;
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
}

.navlist {
  position: relative;
  width: auto;
  height: auto;
  padding: 5px 5px;
  color: rgb(100, 100, 100);
  box-shadow: -2px -2px 9px -7px transparent;
  text-align: center;
  font-family: "Rubik";
  font-size: calc(16px + 1vw);
  font-weight: 700;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.navlist:hover {
  color: #ffffff;
  background-color: #transparent;

  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.navIcons {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 10vh;
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: -2px -2px 9px -7px transparent;
  text-align: left;
  text-decoration: none;
  font-size: calc(12px + 1vw);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  padding: 5px 5px;
}

.navIcons:hover {
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.navImage {
  position: relative;
  width: auto;
  max-width: 100%;
  height: calc(16px + 1vw);
  padding: 5px 10px;
  box-shadow: -2px -2px 9px -7px transparent;
  text-align: center;
  transform: translate(0, 10px);
}

.navImage:hover {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

html {
  height: 100%;
}

#nav ul li {
  display: inline-block;
}

#nav a {
  text-decoration: none;
}

#webLinks ul li {
  display: inline-block;
}

#webLinks a {
  text-decoration: none;
}

.heroImage {
  position: center;
  width: 50vw;
  max-width: 100%;
  height: auto;
  padding-top: 20vh;
  padding-bottom: 5vh;
  box-shadow: -2px -2px 9px -7px transparent;
  transform: translate(9vw, 0);
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1a1a1a;
  }

  .themeColorTittles {
    color: #d89c6a;
  }

  .themeColorBodyText {
    color: #ffffff;
  }

  .navlist {
    color: rgb(255, 255, 255);
  }

  .navlist:hover {
    color: #d89c6a;
  }

  .navIcons {
    color: #d89c6a;
  }

  .navIcons:hover {
    color: #d89c6a;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #f4f0ea;
  }

  .themeColorTittles {
    color: #d89c6a;
  }

  .themeColorBodyText {
    color: #000000;
  }

  .navlist {
    color: rgb(80, 80, 80);
  }

  .navlist:hover {
    color: #d89c6a;
  }

  .navIcons {
    color: rgb(80, 80, 80);
  }

  .navIcons:hover {
    color: #d89c6a;
  }
}
