@media screen and (max-width: 480px) {
  #sidebar {
    position: relative;
  }
}

#sidebar {
  position: fixed;
}

h2:hover,
h3:hover {
  color: #1fe8a7;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

h2:hover {
  color: #1fe8a7;

  @nest & h3 {
    color: #1fe8a7;
  }
}

.linkToWork:hover {
  background-color: black;
  & h2 {
    color: #1fe8a7;
  }
  & h3 {
    color: #1fe8a7;
  }
}

h3.testWorkPlease:hover {
  color: black;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
